
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>

<br />

<a href="/ExcelController1/StaticExcelReport/" class="btn btn-sm btn-outline-success">Statik Excel Rapoları</a>
<br />
<br />
<a href="/ExcelController1/DestinationExcelReport/" class="btn btn-sm btn-outline-secondary">Tur Rotaları Excel Rapoları</a>

