
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-sm btn-outline-secondary">Statik Pdf Raporu</a>
<a href="/PdfReport/StaticCustomerReport" class="btn btn-sm btn-outline-warning">Misafir Pdf Raporu</a>

